name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: Setup Rust
        uses: oxc-project/setup-rust@v1.0.9
        with:
          tools: just,cargo-shear
          components: clippy rustfmt

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: just lint

      - name: Format
        run: just fmt

      - name: Typecheck
        run: pnpm typecheck

      - name: Build
        run: just build

      - name: Check Files
        run: git diff --exit-code --quiet

  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node: [lts/*]
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node ${{ matrix.node }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}

      - name: Setup Rust
        uses: oxc-project/setup-rust@v1.0.9
        with:
          tools: just

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Build
        run: just build

      - name: Test
        run: just test
