name: Check PR

permissions: {}

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  pr:
    name: Check PR Title
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/checkout-action@v1

      - uses: actions/labeler@v6

      - name: Validate PR title
        id: pr-title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          requireScope: true
          types: |
            build
            chore
            ci
            docs
            feat
            fix
            perf
            refactor
            release
            revert
            style
            test
            wip
